# 네이버 영화 평점 크롤링

In [30]:
import requests
import lxml.html
import time
import pandas as pd

# 크롤링 코드
for code in range(10001, 20000):
    # 네이버 영화평 주소
    url = 'https://movie.naver.com/movie/point/af/list.nhn?st=mcode&sword={}&target=after&page={}'

    res = requests.get(url1.format(code, 1))
    element = lxml.html.fromstring(res.text)

    # 리뷰 총 개수
    total = int(element.find('.//strong[@class="c_88 fs_11"]').text_content())
    # 총 페이지수
    total_page = int(total / 10)

    # 리뷰 모음
    reviews = []
    start = time.time()
    for page in range(1, 200):
        res = requests.get(url.format(code, page))
        element = lxml.html.fromstring(res.text)
        # HTML 요소 분석을 통해 작성한 코드
        # table.list_netizen 테이블의 tbody > tr > td.point, td.title을 분석하는 코드
        for e in element.xpath('.//table[@class="list_netizen"]//tbody//tr'):
            star = e.find('.//td[@class="point"]').text_content()
            comment = e.find('.//td[@class="title"]').text_content()
            comment = comment.strip().replace("\t", "").replace("\r", "").split("\n")
            title = comment[0]
            reple = comment[3]
            reviews.append([title, star, reple])
        if page % 100 == 0:
            print('=>', end='')
            time.sleep(3)
    review = pd.DataFrame(reviews, columns=['title', 'star', 'reple'])
    review.to_csv('data/{}_reviews.csv'.format(code), index=False)
    print('{} : review collecting {} page time : {}'.format(code, total_page, round(time.time()-start)/60.0, 2))

=>174903 : review collecting 2212 page time : 1.2833333333333334

In [27]:
review.head()

  title star                                   reple
0   엑시트   10                    여태 이런 느낌의 재난영화는 없었다
1   엑시트   10  스릴감을 억지스럽지않고 자연스럽게  묻어나게 잘 그려낸영화인듯합니다
2   엑시트   10                          올 여름은 너로 정했다!
3   엑시트   10    '코믹에 재난을 결합하면 이렇게 나와야지'를 엑시트가 보여줬다.
4   엑시트    7                       용남이의 고군분투 재난 탈출기

In [28]:
review.tail()

     title star                                              reple
1985   엑시트    9                              끝날때까지 손에 땀을 쥐고 봤다ㅋㅋㅋ
1986   엑시트   10                    오랜만에 재미있게 본 오락영화입니다. 강추드려요 ㅋㅋㅋ
1987   엑시트   10  웃음도 나왔지만 부분부분 슬픔 부분도 있고 감동적이고 최고였습니다 다시보고 싶을정도...
1988   엑시트   10                                        윤아윤아윤아윤아윤아
1989   엑시트   10                                      완전재밋어요!!짱짱추천