In [43]:
import pandas as pd
import os

# 크롤링해 저장한 파일 이름을 리스트로 저장

In [44]:
path = './data'
file_list = os.listdir(path)

# 저장한 데이터 파일을 하나씩 읽어서 합침

In [45]:
reviews = pd.read_csv('data/reviews1.csv')
for i in range(len(file_list)-1):
    df = pd.read_csv('data/{}'.format(file_list[i+1]))
    reviews = pd.concat([reviews, df])

# 합친 데이터의 불필요한 index를 초기화하고 columns을 제거

In [46]:
reviews.reset_index().drop(columns=['index', 'Unnamed: 0'], inplace=True)

In [52]:
reviews.columns

Index(['title', 'point', 'comment'], dtype='object')

In [48]:
reviews.head()

      title  point                                            comment
0       김복동     10  마음이 아픕니다.  일제시대 강제로 끌려가 꽃다운 젊은 시절을 공포와 치욕으로 살아...
1  유열의 음악앨범     10                                    아름다웠던 우리의 젊은 날
2    47미터 2     10  남 일이라 생각하고 보기 시작했는데 끝날 때는 내 일처럼 생각하고 있었음... 하....
3      청춘연애      2                          영화를 이렇게 밖에 못만드냐...  답 없네
4        유전     10   공포영화 매니아인데 진짜 무서워요 귀신이 안나오는데도 무서움 절제된 공포라 해야 하나

# csv파일로 저장

In [49]:
reviews.to_csv('naver_movie_reviews.csv', index=False)

In [50]:
df = pd.read_csv('naver_movie_reviews.csv')
df.columns

Index(['title', 'point', 'comment'], dtype='object')

In [51]:
df.head()

      title  point                                            comment
0       김복동     10  마음이 아픕니다.  일제시대 강제로 끌려가 꽃다운 젊은 시절을 공포와 치욕으로 살아...
1  유열의 음악앨범     10                                    아름다웠던 우리의 젊은 날
2    47미터 2     10  남 일이라 생각하고 보기 시작했는데 끝날 때는 내 일처럼 생각하고 있었음... 하....
3      청춘연애      2                          영화를 이렇게 밖에 못만드냐...  답 없네
4        유전     10   공포영화 매니아인데 진짜 무서워요 귀신이 안나오는데도 무서움 절제된 공포라 해야 하나