# 크롤링한 데이터들을 하나로 병합

In [3]:
import pandas as pd
import os

# 크롤링해 저장한 파일 이름을 리스트로 저장
## 파일 하나당 10000개 저장 (총 1100만개)

In [2]:
path = './data'
file_list = os.listdir(path)
print(file_list[:5])
len(file_list)

['100015_reviews.csv', '10001_reviews.csv', '100021_reviews.csv', '100022_reviews.csv', '100026_reviews.csv']

11441

# 저장한 데이터 파일을 하나씩 읽어서 합침

In [3]:
reviews = pd.read_csv('data/100015_reviews.csv')
for i in range(1, len(file_list)):
    df = pd.read_csv('data/{}'.format(file_list[i]))
    reviews = pd.concat([reviews, df])
print('finish!')

finish!

In [4]:
reviews.columns

Index(['title', 'star', 'reple'], dtype='object')

In [5]:
reviews.shape

(10296675, 3)

# CSV 파일로 저장

In [6]:
reviews.to_csv('naver_movie_reviews.csv', index=False)

# CSV 파일 잘 읽어오는지 확인

In [4]:
df = pd.read_csv('naver_movie_reviews.csv')
df.columns

Index(['title', 'star', 'reple'], dtype='object')

In [5]:
df.head()

           title  star                                              reple
0  천재강아지 미스터 피바디    10                                   시공간초월.꿀잼 완전재미나요
1  천재강아지 미스터 피바디     1                                       kjljhkhgjfg
2  천재강아지 미스터 피바디     5                                  나도 내 아이들과 봤었더라면.
3  천재강아지 미스터 피바디     1  재미에 비해 평점이 너무 높다. 5~6점대가 알맞다. 내가 본 미국 극장판 애니 중...
4  천재강아지 미스터 피바디     9                                       생각보다 재밌었어요.

# 10,296,675 천만개 이상의 리뷰

In [6]:
df.shape

(10296675, 3)

# 영화 11047개의 평점 크롤링 했음

In [8]:
len(df['title'].unique())

11047